body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background: antiquewhite;
}

a {
    color: #000;
}

a:visited {
    color: #000;
}

.content {
    padding: 10px;
}

.content h1 {
    text-align: center;
}

.resume-cols {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resume-cols h3 {
    margin-top: 0;
}

.align-right {
    text-align: right;
}

table h3, table p {
    margin: 0;
}

#education, #skills, #experience {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#experience ul {
    margin: 0;
}

#experience .align-right {
    width: 30%;
}

.project h2, .project h3 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.project p {
    margin-top: 5px;
    margin-bottom: 30px;
}