body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.5) 0%, rgba(9, 9, 121, 0.65) 35%, rgba(0, 174, 208, 0.8) 100%);
  color: white !important;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: #fff;
}

a:visited {
  color: #fff;
}

.content {
  padding: 10px 50px;
}

.content h1 {
  text-align: center;
}


.align-right {
  text-align: right;
}

table h3,
table p {
  margin: 0;
}