.project h2,
.project h3 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.project p {
    margin-top: 5px;
    margin-bottom: 30px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-root {
    background: rgba(0, 0, 0, 0.5);
}