.resume-cols {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resume-cols h3 {
    margin-top: 0;
}

#education,
#skills,
#experience,
#ecs {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#experience ul,
#ecs ul {
    margin: 0;
}

#experience .align-right {
    width: 30%;
}